*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*General styles*/
:root {
  --main-text-color: #f1f1f1;
  --main-text-contrast: #717171;
  --main-background-color: #0f0f0f;
  --main-background-contrast: #121212;
  --main-border-color: #303030;
  --main-border-contrast: #222222;
}

body {
  max-height: 100vh;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  color: var(--main-text-color);
  background-color: var(--main-background-color);
  display: grid;
  grid-template-columns: 300px 1fr;
  grid-template-rows: max-content 1fr;
  overflow: hidden;
}

a {
  text-decoration: none;
}

a:link,
a:visited {
  color: inherit;
}

/*Header styles START*/
.header {
  display: grid;
  padding: 15px 25px;
  gap: 1rem;
  border-bottom: 1px solid var(--main-border-color);
}

.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-top .search-container {
  flex: 1;
  display: flex;
  max-width: 50%;
  position: relative;
  margin-right: 1rem;
}

.header-top .profile-container {
  display: flex;
  align-items: center;
  gap: 1rem;
}

label[for="search-bar"] {
  width: 1px;
  height: 1px;
  position: absolute;
  overflow: hidden;
  left: -10000px;
  top: auto;
}

.search-bar,
.search-icon {
  color: inherit;
  border: 1px solid var(--main-border-color);
}

.search-bar {
  flex: 1;
  font-size: 1rem;
  background-color: var(--main-background-contrast);
  padding: 12px 24px;
  border-radius: 20px 0 0 20px;
  appearance: none;
  outline: none;
}

.search-bar:focus {
  border-color: rgb(62, 166, 255);
  box-shadow: 0px 0px 5px 0px rgba(62, 166, 255, 0.5);
}

.search-icon {
  background-color: var(--main-border-contrast);
  padding: 0px 1rem;
  border-radius: 0 20px 20px 0;
  border-left: none;
  cursor: pointer;
}

.search-icon::before {
  content: "search";
}

.upload-icon::before {
  content: "video_call";
}

.notification-icon::before {
  content: "notifications";
}

.upload-icon,
.notification-icon {
  padding: 10px;
  border-radius: 50%;
}

.upload-icon:hover,
.notification-icon:hover {
  background-color: var(--main-border-contrast);
}

.profile-username {
  font-weight: bold;
}

.header-bot .profile-username {
  font-size: 1.5rem;
}

.profile-icon-container {
  border-radius: 50%;
  overflow: hidden;
}

.header-top .profile-icon-container {
  width: 50px;
  height: auto;
}

.header-bot .profile-icon-container {
  width: 100px;
  height: auto;
}

.profile-icon {
  width: 100%;
  height: auto;
  transition: transform 0.3s ease-in-out;
}

.profile-icon:hover {
  transform: scale(1.1);
}

.header-bot {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: max-content repeat(2, 1fr);
  gap: 1rem 1.5rem;
}

.header-bot .profile-icon-container,
.header-bot .links-container {
  grid-row: 1 / 3;
}

.header-bot p:nth-of-type(1) {
  align-self: end;
}

.header-bot p:nth-of-type(2) a:hover {
  border-bottom: 1px solid var(--main-text-color);
  padding: 1px 0px;
}

.header-bot .links-container {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  justify-self: end;
  align-self: center;
  gap: 1rem;
}

.header-bot .links-container a {
  font-weight: bold;
  text-align: center;
  background-color: var(--main-border-contrast);
  padding: 10px 20px;
  border-radius: 20px;
  transition: background-color 0.2s ease-in-out;
}

.header-bot .links-container a:hover {
  background-color: var(--main-border-color)
}
/*Header styles END*/

/*Sidebar styles START*/
.sidebar {
  grid-row: 1 / 3;
  padding: 0px 5px;
  overflow-y: scroll;
}

.sidebar > * {
  font-size: 14px;
  padding: 10px;
}

.sidebar-header {
  background-color: var(--main-background-color);
  display: flex;
  align-items: center;
  padding: 15px 10px 5px 10px;
  gap: 5px;
  position: sticky;
  top: 0;
}

.sidebar-header:hover {
  cursor: pointer;
}

.sidebar-header button {
  color: inherit;
  background-color: var(--main-background-color);
  padding: 10px;
  border: none;
  border-radius: 50%;
}

.sidebar-header button:hover {
  cursor: pointer;
  background-color: var(--main-border-contrast);
}

.sidebar-header img {
  width: 30px;
  height: auto;
}

.sidebar-header h2 {
  font-size: 18px;
}

.sidebar-header ~ * {
  border-bottom: 1px solid var(--main-border-color);
}

.sidebar h3,
.sidebar li {
  padding: 10px;
}

.sidebar li {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.sidebar .sidebar-section li:hover {
  cursor: pointer;
  background-color: var(--main-border-contrast);
  border-radius: 10px;
}

.sidebar-footer {
  display: flex;
  flex-direction: column;
  padding: 10px 20px;
  gap: 20px;
  border: none;
}

.sidebar-footer div:last-child {
  font-size: 12px;
  color: var(--main-text-contrast);
}

.sidebar-footer ul {
  font-size: 12px;
  font-weight: bold;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.sidebar-footer ul li{
  padding: 0;
}

.sidebar-footer ul li:hover {
  cursor: pointer;
}
/*Sidebar styles END*/

/*Content styles START*/
.content {
  display: grid;
  grid-template-columns: 2fr 1fr;
  padding: 25px;
  gap: 1rem;
  overflow: hidden;
}

.content .articles {
  grid-row: 1 / 3;
  display: grid;
  gap: 1rem;
  overflow: auto;
}

.articles .articles-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-auto-rows: max-content;
  padding-right: 15px;
  gap: 1rem;
  overflow-y: scroll;
}

.articles-container article {
  position: relative;
}

.articles-container img {
  border-radius: 10px;
  width: 100%;
}

.articles-container h3 {
  font-size: 1rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin: 5px 0px;
}

.articles-container .icons {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin: 5px;
  position: absolute;
  top: 0;
  right: 0;
}

.icons span {
  background-color: var(--main-background-color);
  padding: 3px;
  border-radius: 5px;
  opacity: 0.8;
  visibility: hidden;
}

.icons span:hover {
  cursor: pointer;
}

article:hover > .icons > span {
  visibility: visible;
}

.articles-container div:last-of-type {
  font-size: 12px;
  color: var(--main-text-contrast);
}

/*Articles section styles end*/
.content .community {
  display: grid;
  gap: 1rem;
  overflow: auto;
}

.community .community-container {
  display: grid;
  grid-auto-rows: max-content;
  padding-right: 15px;
  gap: 1rem;
  overflow-y: scroll;
}

.community-container .community-tab {
  display: grid;
  gap: 10px;
  border: 1px solid var(--main-border-color);
  padding: 10px 15px;
  border-radius: 12px;
}

.community-tab .tab-profile-container {
  display: grid;
  grid-template-columns: max-content 1fr;
  align-items: center;
  column-gap: 10px;
}

.tab-profile-container img {
  grid-row: 1 / 3;
  width: 40px;
  border-radius: 50%;
}

.tab-profile-container p:first-of-type {
  font-size: 12px;
}

.tab-profile-container p:last-of-type {
  font-size: 12px;
  color: var(--main-text-contrast);
}
/*Community section styles end*/
/*Content styles END*/

/*Scrollbar styling*/
.sidebar,
.articles-container,
.community-container {
  mask-image:
    linear-gradient(to top, transparent, var(--main-background-color)),
    linear-gradient(to left, transparent 8px, var(--main-background-color) 8px);
  mask-size: 100% 100000px;
  mask-position: left bottom;
  -webkit-mask-image:
    linear-gradient(to top, transparent, var(--main-background-color)),
    linear-gradient(to left, transparent 8px, var(--main-background-color) 8px);
  -webkit-mask-size: 100% 100000px;
  -webkit-mask-position: left bottom;
}

.sidebar:hover,
.articles-container:hover,
.community-container:hover {
  mask-position: left top;
  -webkit-mask-position: left top;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 12px;
}